BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: false
PointerAlignment: Left
AccessModifierOffset: -4
FixNamespaceComments: false
NamespaceIndentation: All
ColumnLimit: 140
AlwaysBreakTemplateDeclarations: Yes
